body {
  background-image: url("http://wallpaperscraft.com/image/circles_glare_light_faded_46870_1920x1200.jpg?orig=3");
  background-attachment: fixed;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #333333;
  font-family: cursive;
}

.menu {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
}

.menu a {
  display: inline-block;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #333333;
  margin: none;
}

p {
  margin: 0 50px 50px 0px;
  padding: 0 200px 0 200px;
  text-align: left;
  color: #333333;
}

.center {
  text-align: center;
}

a {
  color: #E6E6E6;
}

a:hover {
  color: #808081;
}

a:visited {
  color: none;
}

.pix {
  height: 250px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}