body {
  background-image: url("http://chomsky.soc.cornell.edu/~marty/plasma-turbulence-web-background.jpg");
  background-attachment: fixed;
}

header {
  text-align: right;
}

a {
  text-decoration: none;
  color: #0099FF;
}

a:hover {
  color: #9966FF;
}

a:visited {
  color: none;
}

.menu {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;

}

.menu li {
  display: inline;
}

.menu a {
  display: inline-block;
  padding: 20px;
}

p {
  text-align: center;
  padding: 20px 50px 0 50px;
  font-family: Papyrus;
  color: #333333;
}

#name {
  font-size: 75px;
  font-family: Brush Script MT;
  text-align: center;
  color: #333333;
}

.profile {
  border-radius: 50%;
  height: 200px;
  width: auto;
  border: 2px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#project {
  text-align: center;
  padding: 50px;
}

.blog {
  padding: 0 10px 0 10px;
}

footer {
  text-align: center;
  font-size: 10px;
  font-color: black;
}

#license {
  color: #000000;
}

